@using System.Dynamic
@using Catalog.API.Model
@using ITOps.Utilities

@if (_model != null && _order != null)
{
    <div>@(_order.Name)</div>
}

@code {
    [Parameter]
    public Guid OrderId { get; set; }
    [CascadingParameter(Name = "CompositionModel")]
    public ExpandoObject CompositionModel { get; set; }

    OrdersIndexViewModel _model;

    protected override void OnInitialized()
    {
        dynamic model = CompositionModel;
        if (model?.catalog != null)
        {
            _model = ((ExpandoObject)model.catalog).As<OrdersIndexViewModel>(JsonSerializerSettingsDefaults.GetJsonSerializerSettings());
        }

        base.OnInitialized();
    }
    
    OrderViewModel _order =>  _model?.OrdersMap[OrderId];
}
